// Compile "main.scss" as "css/main.css"

/**
 * Import Bootstrap sources
 * https://getbootstrap.com/docs/5.2/customize/sass
 */

// @import "../node_modules/bootstrap/scss/bootstrap"; // Include all of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import '../node_modules/bootstrap/scss/functions';

// 2. Include any default variable overrides here

// Options
$enable-dark-mode: false;
$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: true;
$enable-transitions: true;
$enable-reduced-motion: true;
$enable-grid-classes: true;
$enable-container-classes: true;
$enable-caret: true;
$enable-button-pointers: true;
$enable-rfs: true;
$enable-validation-icons: true;
$enable-negative-margins: true;
$enable-deprecation-messages: true;
$enable-important-utilities: true;
$enable-smooth-scroll: true;

$spacer: 1rem;

// Grayscale vars
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

// Color vars
$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$bts-yellow: #ffca07;
$bts-grey: #323b4b;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;

// Fonts
$font-family-sans-serif: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
	'Liberation Sans', sans-serif;
$font-family-serif: Georgia, 'Times New Roman', Times, serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
$font-family-base: $font-family-sans-serif;

$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/variables-dark';

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import '../node_modules/bootstrap/scss/maps';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/root';

// 6. Optionally include any other parts as needed: Uncomment components to reduce the filesize
@import '../node_modules/bootstrap/scss/utilities';
@import '../node_modules/bootstrap/scss/reboot';
@import '../node_modules/bootstrap/scss/type';
@import '../node_modules/bootstrap/scss/images';
@import '../node_modules/bootstrap/scss/containers';
@import '../node_modules/bootstrap/scss/grid';
@import '../node_modules/bootstrap/scss/tables';
@import '../node_modules/bootstrap/scss/forms';
@import '../node_modules/bootstrap/scss/buttons';
@import '../node_modules/bootstrap/scss/transitions';
@import '../node_modules/bootstrap/scss/dropdown';
@import '../node_modules/bootstrap/scss/button-group';
@import '../node_modules/bootstrap/scss/nav';
@import '../node_modules/bootstrap/scss/navbar';
@import '../node_modules/bootstrap/scss/card';
@import '../node_modules/bootstrap/scss/accordion';
@import '../node_modules/bootstrap/scss/breadcrumb';
@import '../node_modules/bootstrap/scss/pagination';
@import '../node_modules/bootstrap/scss/badge';
@import '../node_modules/bootstrap/scss/alert';
@import '../node_modules/bootstrap/scss/progress';
@import '../node_modules/bootstrap/scss/list-group';
@import '../node_modules/bootstrap/scss/close';
@import '../node_modules/bootstrap/scss/toasts';
@import '../node_modules/bootstrap/scss/modal';
@import '../node_modules/bootstrap/scss/tooltip';
@import '../node_modules/bootstrap/scss/popover';
@import '../node_modules/bootstrap/scss/carousel';
@import '../node_modules/bootstrap/scss/spinners';
@import '../node_modules/bootstrap/scss/offcanvas';
@import '../node_modules/bootstrap/scss/helpers';

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import '../node_modules/bootstrap/scss/utilities/api';

/**
 * General
 */

body {
	font-family: "Wix Madefor Text", sans-serif;
	background-color: $bts-yellow;

	h1, h2, h3, h4, h5, h6 {
		font-family: "Wix Madefor Display", sans-serif;
		font-weight: 700;
	}

	p, span {
		font-family: "Wix Madefor Text", sans-serif;
		font-weight: 400;
		line-height: 1.8;
	}

	nav#header {
		background: transparent;
		padding: 0;
		height: 75px;
		margin-top: 12px;

		@include media-breakpoint-up(md) {
			height: 100px;
		}

		#navbar {
			flex-grow: 0;

			#menu-header,
			#menu-header-1 {
				gap: 20px;
				
				li {
					a {
						color: black;
						font-weight: 500;
						margin-bottom: 4px;
						transition: 0.5s all ease;

						&::after {
							content: '';
							display: block;
							width: 0px;
							height: 2px;
							top: 4px;
							position: relative;
							background: black;
							transition: 0.5s all ease;
						}

						&:hover {
							&::after {
								width: 100%;
								transition: 0.5s all ease;
							}
						}
					}
				}
			}
		}

		.navbar-toggler {
			display: flex;
			gap: 12px;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			border: none;
			transform: scale(0.75);

			@include media-breakpoint-up(sm) {
				transform: scale(1);
			}

			&:focus,
			&:focus-visible,
			&:focus-within {
				outline: none;
				box-shadow: none;
			}

			&[aria-expanded="false"] {
				&:hover {
					.navbar-toggler-line {
						&:nth-of-type(2) {
							width: 30px;
						}
						&:nth-of-type(3) {
							width: 20px;
						}
					}
				}
			}
			
		
			.navbar-toggler-line {
				display: block;
				width: 40px;
				height: 2px;
				background-color: black;
				transition: 0.7s all ease;
			}

			&[aria-expanded="true"] {
				.navbar-toggler-line {
					// background-color: $dxndre-red;
					transition: 0.3s all ease;

					&:nth-of-type(1) {
						transform: rotate(45deg) translate(7px, 7px);
					}
					&:nth-of-type(2) {
						opacity: 0;
					}
					&:nth-of-type(3) {
						transform: rotate(-45deg) translate(12px, -12px);
					}
				}
			}
		}

		.offcanvas {
			// background-color: rgba(255, 255, 255, 0.625);
			background-color: $bts-yellow;
			// backdrop-filter: blur(20px);
			height: 100vh;

			.offcanvas-header {
				padding: 1.5rem;
			}

			.offcanvas-body {
				padding: 2rem;
				display: flex;
				justify-content: center;
				text-align: center;
				align-content: center;
				flex-wrap: wrap;
				height: calc(100% - 72px);

				.navbar-nav {
					gap: 1.25rem;

					.nav-link {
						font-size: 1.25rem;
						font-weight: 600;
						color: $bts-grey;

						&::after {
							display: none; // remove desktop underline animation
						}
					}
				}
			}
		}
	}

	.wp-block-buttons {
		gap: 12px;

		.wp-block-button {
			.wp-block-button__link {
				border: 2px solid transparent;
				font-weight: 500;
				transform: scale(1);
				transition: 0.5s all ease;

				&:hover {
					// transform: scale(1.1);
					transition: 0.5s all ease;
				}
			}

			&.primary {
				.wp-block-button__link {
					background-color: $bts-yellow;
					border-color: $bts-yellow;
					color: black;

					&:hover {
						// transform: scale(1.1);
					}
				}
			}

			&.secondary {
				.wp-block-button__link {
					background-color: $bts-grey;
					border-color: $bts-grey;
					color: white;

					&:hover {
						color: $bts-grey;
						background-color: transparent;
					}
				}
			}
		}
	}

	&.page-template-page-full {
		#main {
			max-width: 100%;
		}
	}

	&.page-template-page-homepage {
		#main {
			max-width: 100%;
			padding: 0;
			margin-top: 0;

			h1 {
				font-size: 2.75em !important;
				margin-bottom: 0.5em;

				@include media-breakpoint-up(md) {
					font-size: 3.125em !important;
				}

				@include media-breakpoint-up(xl) {
					font-size: 4em !important;
				}
			}

			h2 {
				font-size: 1.75em !important;
				line-height: 1.5em;
				margin-bottom: 0.75em;

				@include media-breakpoint-up(md) {
					font-size: 2em !important;
				}

				@include media-breakpoint-up(xl) {
					font-size: 2.5em !important;
				}
			}
			
			p {
				font-size: 1.2em;
				line-height: 1.8em;
				font-weight: 500;
			}

			.btn {
				background-image: none;
				outline: none;
				box-shadow: none;
				padding: 1em 1.5em;
			}

			section {
				.container {
					> .wp-block-group__inner-container {
						margin: 0 auto;
						padding: 0.5em 0;

						@include media-breakpoint-up(md) {
							margin: 3em auto;
							padding: 2em 0;
						}
					}
				}
				&.hero {
					.wp-block-cover {
						padding-top: 100px;

						figure {
							&.foreground {
								color: $bts-grey;

								img {
									border-radius: 50px;
									mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
									border: 1px solid #69520038;
								}
							}
						}
					}

					.container {
						> .wp-block-group__inner-container {
							padding-bottom: 2em;
						}
					}

					.hero-content {
						width: 100%;
						max-width: 768px;
						margin-top: 3em;

						@include media-breakpoint-up(md) {
							margin-top: 0;
						}

						.supporting-text {
							font-size: 1.125em;
							line-height: 1.5em;
							margin-bottom: 1.5em;

							@include media-breakpoint-up(md) {
								font-size: 1.5em;
							}
						}
					}
				}

				&.problem {

					.wp-block-media-text.is-stacked-on-mobile {
						/* Mobile: stack + force content first */
						display: grid;
						grid-template-columns: 1fr;
						grid-template-areas:
							"content"
							"media";

						.wp-block-media-text__content {
							grid-area: content;
						}

						.wp-block-media-text__media {
							grid-area: media;
							margin-top: 1.5rem; // breathing room on mobile
						}

						/* Tablet and up: restore Gutenberg layout */
						@include media-breakpoint-up(lg) {
							grid-template-columns: 1fr 1fr;
							grid-template-areas: "content media";

							&.has-media-on-the-right {
								grid-template-areas: "content media";
							}

							&.has-media-on-the-left {
								grid-template-areas: "media content";
							}

							.wp-block-media-text__media {
								margin-top: 0;
							}
						}
					}
				}

				&.what-we-do {
					.container {
						> .wp-block-group__inner-container {
							max-width: 992px;

							.supporting-text {
								width: 100%;
								max-width: 576px;
								margin: 0 auto;
								margin-bottom: 3em;
							}
						}

						.cards-container {
							mask-image: linear-gradient(
								to right,
								transparent,
								black 10%,
								black 90%,
								transparent
							);

							@include media-breakpoint-up(md) {
								mask-image: none;
							}
						}
					}

					.cards {
						gap: 24px;
						grid-template-columns: revert;
						position: relative;
						overflow: hidden;
						padding: 1rem 0;
						
						@include media-breakpoint-up(md) {
							grid-template-columns: repeat(2, minmax(0, 1fr));
						}

						.card {
							padding: 2em 2.5em;
							box-shadow: 0px 12px 40px -20px #9a7900;
							background-color: rgba(255, 255, 255, 0.5);
							backdrop-filter: blur(10px);
							border-radius: 20px;
							// flex: 0 0 85%;
							// max-width: 85%;
							max-width: 300px;

							@include media-breakpoint-up(md) {
								max-width: 100%;
							}

							img {
								max-width: 100px;
								max-height: 100px;
								object-fit: contain;
							}

							h3 {
								font-size: 1.5em;
							}

							p {
								font-size: 16px;
								font-weight: 400;
								margin-bottom: 0;
							}
						}
					}

					.cards > * {
						display: flex;
						flex-wrap: nowrap;
						gap: 1.5rem;
						width: max-content;

						animation: marquee-scroll 50s linear infinite;
						will-change: transform;

						@include media-breakpoint-up(md) {
							animation: none;
						}
					}

					.cards:hover > * {
						animation-play-state: paused;
					}
				}

				&.partners {
					margin: 3em 0;

					@include media-breakpoint-up(md) {
						margin: 0;
					}

					.partners-gallery {
						position: relative;
						overflow: hidden;
						padding: 1.5rem 0;

						/* STATIC vignette */
						mask-image: linear-gradient(
							to right,
							transparent,
							black 10%,
							black 90%,
							transparent
						);
					}

					.partners-gallery > * {
						/* MOVING track */
						display: flex;
						flex-wrap: nowrap;
						align-items: center;
						gap: 3rem;
						width: max-content;

						animation: marquee-scroll 40s linear infinite;
						will-change: transform;
					}

					figure.wp-block-image {
						flex: 0 0 auto;
						margin: 0 !important;

						img {
							max-height: 56px;
							width: auto;
							object-fit: contain;
							filter: grayscale(1) brightness(0) opacity(0.6);
						}
					}

					/* Pause on hover */
					.partners-gallery:hover > * {
						animation-play-state: paused;
					}

					/* Tablet+ reset */
					@include media-breakpoint-up(md) {
						.partners-gallery {
							mask-image: none;
						}

						.partners-gallery > * {
							animation: none;
							flex-wrap: wrap;
							justify-content: center;
							width: 100%;
						}
					}
				}
			}
		}
	}

	/* If WP-Adminbar is visible */
	&.admin-bar {
		#header.fixed-top {
			top: var(--wp-admin--admin-bar--height);
		}

		.edit-link a {
			color: #fff !important;
			font-weight: normal !important;
			text-decoration: none !important;

			&::before {
				content: '\270E';
				display: inline-block;
				margin-right: 5px;
			}
		}
	}
}

img {
	vertical-align: middle;
}

/**
 * WordPress customization
 */

/* WordPress Embeds */

.post-thumbnail,
.wp-video,
.embed-responsive {
	margin: 5px 0;
	width: 100% !important;
}

.post,
.post-thumbnail {
	img {
		max-width: 100%;
		height: auto;
	}
}

/* Header */

#header {
	background-color: transparent;
	transition: 0.5s all ease;

	.search-form {
		min-width: 250px;
	}

	&.scrolled {
		backdrop-filter: saturate(180%) blur(115px);
		box-shadow: 0px 0px 50px -30px black;
		background-color: rgba(255, 255, 255, 0.25);
		margin-top: 0 ;
		transition: 0.5s all ease;
	}
}

.navbar-brand {
	color: white;

	img {
		height: 60px;

		@include media-breakpoint-up(md) {
			height: 80px;
		}
	}
}

.navbar-static-top {
	margin-bottom: $grid-gutter-width;
}

/* Main */

#main {
	margin-top: $spacer;
}

/* Footer */

#footer {
	background-color: #000;
	color: white;
	padding: 3em 1em;

	.footer-text {
		display: block;
		margin-bottom: 1em;
		font-size: 1.5em;
		font-weight: 500;
		color: #ccc;
	}

	p {
		margin-top: 10px;
		text-align: center;

		@include media-breakpoint-up(md) {
			text-align: left;
		}
	}

	.menu-item {
		a {
			color: white;

			&[aria-current='page'] {
				color: $link-hover-color;
			}
		}
	}

	.footer-menu {
		justify-content: center;
		gap: 12px;

		@include media-breakpoint-up(md) {
			justify-content: flex-end;
		}
	}
}

/* Sidebar */

.widget-area {
	ul {
		list-style: none;
		padding: 0;
	}
}

/* Author */

.author-avatar {
	.avatar {
		width: 64px;
		height: auto;
	}
}

.author-info {
	margin: 40px 0;

	h2,
	h3 {
		margin-top: 0;
	}
}

/* Posts */

.sticky {
	.card {
		background-color: $gray-100;
	}
}

.entry-meta {
	font-size: small;
	margin-top: ($grid-gutter-width * 0.5);
}

.single {
	.entry-content,
	.post-navigation,
	#comments-title {
		margin: $grid-gutter-width 0;
	}
}

#comments {
	margin-top: $grid-gutter-width;
}

.comment-meta {
	height: 40px;
}

.comment-reply-title {
	margin: $grid-gutter-width 0 ($grid-gutter-width * 0.5);
}

.commentlist {
	list-style: none;
	margin: 0 auto;
	width: 68.9%;

	> li.comment {
		margin: 0 0 1.625em;
		padding: 1.625em;
		position: relative;
	}

	.children {
		list-style: none;
		margin-top: $grid-gutter-width;

		> li.comment {
			border-top: 1px solid $gray-300;
			padding-top: $grid-gutter-width;
			position: relative;
		}
	}

	.avatar {
		width: 64px;
		height: 64px;
		border-radius: 50%;
		box-shadow: 0 1px 2px $gray-600;
		padding: 0;
		position: absolute;
		top: 0;
		left: -102px;
	}
}

/* WordPress Blocks */

// Buttons

.wp-block-button {
	&.is-style-outline {
		.wp-block-button__link {
			@extend .btn;
			@extend .btn-outline-primary;
		}
	}

	&.btn-lg {
		.wp-block-button__link {
			@extend .btn-lg;
		}
	}
	&.btn-sm {
		.wp-block-button__link {
			@extend .btn-sm;
		}
	}

	.wp-block-button__link {
		@extend .btn;
		@extend .btn-primary;
		text-decoration: none;
	}
}

// Table

.wp-block-table {
	td,
	th {
		border: inherit;
	}

	table {
		@extend .table;
	}
}

// Image, Media and Text

.wp-block-image,
.wp-block-media-text__media {
	img,
	video {
		height: auto;
	}
}

/**
 * Responsive Design using "mixins/_breakpoints.scss"
 */

@media (max-width: breakpoint-max(sm)) {
	#sidebar {
		margin-top: 60px;
	}
}

/* ======================================================
   VIEWPORT FADE-IN (Sections)
   ====================================================== */

section {
	opacity: 0;
	transform: translateY(24px);
	transition: opacity 0.8s ease, transform 0.8s ease;

	&.viewport-active {
		opacity: 1;
		transform: translateY(0);
	}
}

/* Reduced motion */
@media (prefers-reduced-motion: reduce) {
	section {
		opacity: 1 !important;
		transform: none !important;
		transition: none !important;
	}
}

/* ======================================================
   PARTNERS – MOBILE-FIRST MARQUEE
   ====================================================== */

.partners {
	.partners-gallery {
		/* Mobile default */
		display: flex !important;
		flex-wrap: nowrap !important;
		align-items: center;
		gap: 3rem;
		overflow: hidden;
		position: relative;
		width: 100%;
		padding: 1.5rem 0;
		will-change: transform;
		mask-image: linear-gradient(
			to right,
			transparent,
			black 10%,
			black 90%,
			transparent
		);

		figure.wp-block-image {
			flex: 0 0 auto;
			margin: 0;

			img {
				max-height: 56px;
				width: auto;
				object-fit: contain;
				filter: grayscale(1) brightness(0) opacity(0.6);
				transition: filter 0.3s ease, opacity 0.3s ease;
			}
		}

		&:hover {
			animation-play-state: paused;
		}
	}

	/* Tablet+ restore normal layout */
	@include media-breakpoint-up(md) {
		.partners-gallery {
			animation: none;
			mask-image: none;
			// flex-wrap: wrap !important;
			justify-content: center;
		}
	}
}

/* ======================================================
   CARDS – MOBILE MARQUEE BEHAVIOUR
   ====================================================== */

.what-we-do {
	.cards {
		/* Mobile default */
		display: flex !important;
		flex-wrap: nowrap !important;
		gap: 1.5rem;

		overflow: hidden;
		position: relative;
		padding: 1rem 0;

		// animation: marquee-scroll 20s linear infinite;
		will-change: transform;

		mask-image: linear-gradient(
			to right,
			transparent,
			black 10%,
			black 90%,
			transparent
		);

		.card {
			flex: 0 0 85%;
			max-width: 85%;
		}

		&:hover {
			animation-play-state: paused;
		}
	}

	/* Tablet+ restore grid */
	@include media-breakpoint-up(md) {
		.cards {
			animation: none;
			mask-image: none;
			display: grid !important;
			grid-template-columns: repeat(2, minmax(0, 1fr));

			.card {
				max-width: none;
			}
		}
	}
}

/* ======================================================
   MARQUEE KEYFRAMES
   ====================================================== */

@keyframes marquee-scroll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-50%);
	}
}